@charset "UTF-8";

.gwt-MenuBar-horizontal {
    background-color: #1075de !important;
    color: white !important;
    background-image: none !important;
    border: none !important;
    font-size: 14px !important; /* Apply font size to the parent container */
}


.gwt-MenuBar-horizontal .gwt-MenuItem {
    color: white !important;
    padding: 0 15px; /* 设置水平内边距 */
    vertical-align: middle; /* 垂直居中单元格内容 */
}

.toolbarButton {
    margin: 0px 10px;
}

.toolbar-icon svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.gwt-MenuBar-horizontal .gwt-MenuItem-selected {
    background-color: #1c74c2 !important;
}

.gwt-MenuBar-horizontal table {
    height: 100%; /* 让表格高度填满父容器 */
}

/* General styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    min-width: 600px;
    overflow: hidden;
}

.logo-panel {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: lightblue;
}

.logo-image {
    height: 100%;
    margin-right: 10px;
}

.logo-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.toolbar-panel {
    background-color: #1075de; /* Set toolbar background to blue */
    width: 100%;
}

.toolbar-icon-label {
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 50%;
}

.toolbar-icon-label svg {
    width: 100%;
    height: 100%;
}

/* 无需隐藏任何元素 */

@media only screen and (max-width: 600px) {
    /* 窄屏情况下菜单样式调整 */
    .gwt-MenuBar-horizontal {
        font-size: 12px !important;
    }
    
    .gwt-MenuBar-horizontal .gwt-MenuItem {
        padding: 0 8px;
    }
    
    /* 窄屏情况下弹出菜单样式 */
    .gwt-MenuBarPopup {
        z-index: 2;
        width: auto;
    }
    
    .gwt-MenuBarPopup>div {
        overflow: auto;
        max-height: 300px;
    }
    
    .menuPopupTopLeft, .menuPopupTopCenter, .menuPopupTopRight,
    .menuPopupMiddleLeft, .menuPopupMiddleRight, .menuPopupMiddleCenter,
    .menuPopupBottomLeft, .menuPopupBottomCenter, .menuPopupBottomRight {
        background: #e6f2ff !important;
    }
}
